body {
    margin: 0;
    width: 100%;
    font-size: 100%;
    /* background: rgb(210, 210, 210); */
}


/*导航窗*/

.head a {
    color: white;
}

.head {
    width: 100%;
    height: 35px;
    color: white;
    font-size: 16px;
    line-height: 35px;
}

.nav-table {
    width: 100%;
    height: 120px;
}

.head {
    position: fixed;
    height: 100px;
    z-index: 9999;
}

.nav {
    height: 100px;
    background: none;
}

.nav-table td {
    font-family: 微软雅黑;
    cursor: pointer;
    text-align: center;
}

.nav-table td:hover {
    color: black(53, 144, 218);
}

.logo {
    width: 30%;
}

.logo span {
    font-size: 2em;
    font-family: 华文楷体;
    color: rgb(240, 240, 240);
}

.logo-img {
    float: right;
}

.logo-img img {
    height: 120px;
    /* padding-left: 260px; */
    margin-top: 5px;
}

.logo-title {
    padding-top: 25px;
    float: right;
}

.title {
    height: 80px;
}

.serch {
    width: 20%；
}

.am-input-group {
    width: 70%;
}

.dropdown {
    height: 470px;
    background: white;
    float: left;
    opacity: 0.8;
}

.buy-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

#left-0 {
    width: 200px;
    height: 60px;
    font-size: 2.5em;
    text-align: center;
    background: green;
    line-height: 60px;
    border-bottom: 2px solid white;
}

#left-0 a {
    color: white;
}

.left-list {
    padding-left: 40px;
    padding-right: 20px;
    font-size: 1.68em;
    height: 50px;
    /* text-align: center; */
    border-bottom: 1px solid rgb(80, 80, 80);
    line-height: 50px;
}

.left-list a {
    color: rgb(80, 80, 80);
}

.left-list:hover {
    background: green;
    transition: background-color 0.5s;
}

.left-list:hover a {
    color: white;
}

.am-icon-angle-right {
    float: right;
}

.right-side {
    border-left: 1px solid rgb(80, 80, 80);
    height: 470px;
    background: white;
    float: left;
    display: none;
    width: 500px;
    opacity: 0.8;
}

.right-side-carousel {
    opacity: 1;
    background: unset;
    display: block;
    width: 800px;
    /* background: red; */
    overflow: hidden;
}


/* #right-side-0 {
    display: block;
} */

#right-side-0 h1 {
    margin-top: 50px;
    font-size: 3em;
    text-align: center;
}

#right-side-0 h2 {
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
}

.foods-head h1 {
    margin-top: 20px;
    padding-left: 50px;
    /* text-align: center; */
    font-size: 2.5em;
    color: green;
    border-bottom: 1px solid green;
}

.foods-head h1 span {
    padding-left: 200px;
    font-size: 0.8em;
}

.food-name span {
    margin: 2px 10px;
    font-size: 1.5em;
}

.food-name span:hover {
    color: green;
    cursor: pointer;
}

#login:hover {
    cursor: pointer;
}


/* body部分 */

.cloud-shop {
    height: 50px;
    color: green;
    font-size: 20px;
}

.body {
    margin: 0 auto;
    width: 1200px;
    /* height: 2220px; */
    box-sizing: border-box;
}

.commodity-list {
    width: 1200px;
    /* height: 100%; */
    box-sizing: border-box;
    float: left;
}

.hot-title {
    height: 40px;
    color: orange;
    font-size: 18px;
}

.meat {
    height: 70px;
}

.hot-goods {
    width: 100%;
}

.hot-goods table td {
    text-align: center;
    width: 300px;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hot-goods-img li {
    margin-right: 75px;
    display: block;
    float: left;
    /* text-align: center; */
}

.hot-goods-img li:nth-child(4n+0) {
    margin-right: 0;
}

.goods-li {
    width: 240px;
    box-sizing: border-box;
    cursor: pointer;
}

.goods-imgs {
    width: 240px;
    height: 230px;
    overflow: hidden;
}

.goods-price {
    font-size: 2.5em;
    color: red;
}


/* 包邮 */

.express-delivery {
    background: red;
    color: white;
    margin-left: 5px;
}

.goods-desc {
    margin: 0;
}

.goods-name {
    color: red;
}

.sales-volume {
    font-size: 1.5em;
    color: rgb(80, 80, 80);
    margin-top: 13px;
    float: right;
    ;
}


/* 
.hot-goods-img :first-child {
    margin-left: 3px;
}
 */


/* .hot-goods-img span:last-child {
    color: red;
    font-size: 1.4em;
    font-family: 仿宋;
} */


/* .hot-goods-img span:last-child:hover {
    background: red;
    color: white;
    font-size: 1.4em;
    font-family: 仿宋;
    cursor: pointer;
} */

.hot-goods-class {
    font-family: 楷体;
    /* font-size: 1em; */
    color: white;
    background: orange;
}

.kinds td:hover {
    cursor: pointer;
    background: rgb(240, 240, 240);
}

.hot-goods p:first-child {
    font-size: 1.5em;
}

.hot-goods p {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    /* text-align: center; */
}

.hot-goods-img img {
    box-sizing: border-box;
    width: 291px;
    height: 220px;
    /* border: 1px solid rgb(210, 210, 210); */
    transition: all 0.6s;
}

.hot-goods-img img:hover {
    transform: scale(1.05);
}

#hot-goods-2 {
    display: none;
}

#hot-goods-3 {
    display: none;
}

#hot-goods-4 {
    display: none;
}

#hot-meat-2 {
    display: none;
}

#hot-meat-3 {
    display: none;
}

#hot-meat-4 {
    display: none;
}

.subscription {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}

.subscription-title h1 {
    color: rgba(243, 142, 15, 1);
    margin-bottom: 0;
}

.subscription-disc {
    margin-bottom: 0;
    color: rgba(243, 142, 15, 1);
}

.subscription-line {
    margin: 0 auto 10px;
    width: 90px;
    border-bottom: 2px solid rgba(243, 142, 15, 1);
    font-size: 12px;
}

.subscription-animals {
    width: 100%;
}

.animals-img {
    width: 40%;
    height: 260px;
    float: left;
    text-align: left;
    overflow: hidden;
}

.animals-img img {
    float: left;
}

.animals-buy h1 {
    position: relative;
    top: -50px;
    text-align: center;
    color: orange;
}

.animals-buy h2 {
    position: relative;
    top: -10px;
    right: -260px;
}

.animals-buy p {
    position: relative;
    top: -10px;
    right: -260px;
}

.animals-img:hover .animals-buy h2 {
    right: -65px;
    transition: linear 0.2s;
}

.animals-img:hover .animals-buy p {
    right: -45px;
    transition: linear 0.2s;
}

.animals-buy button {
    right: -60px;
    position: relative;
    bottom: -260px;
    text-align: center;
}

.animals-img:hover .animals-buy h1 {
    top: 10px;
    transition: linear 0.2s;
}

.animals-img:hover .animals-buy button {
    bottom: 15px;
    transition: linear 0.2s;
}

.animals-disc {
    width: 60%;
    height: 260px;
    float: left;
    text-align: left;
    overflow: auto;
}

.foot {
    width: 100%;
    height: 200px;
    background: black;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

.foot p {
    margin: 0;
    padding: 0;
}

.foot p:first-child {
    padding-top: 50px;
}

.foot p:last-child {
    padding-top: 20px;
}

.am-popup-hd .am-popup-title {
    color: red;
}

#decrease {
    font-size: 1.3em;
}

#count-input {
    width: 50px;
    height: 21px;
}