* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow: auto;
}

/*导航窗*/

.head a {
    color: black;
}

.head {
    width: 100%;
    height: 35px;
    color: black;
    font-size: 16px;
    line-height: 35px;
}

.nav-table {
    width: 100%;
    height: 120px;
}

.head {
    position: unset;
    height: 100px;
    z-index: 9999;
}

.nav {
    height: 100px;
    background: none;
}

.nav-table td {
    font-family: 微软雅黑;
    cursor: pointer;
    text-align: center;
}

.nav-table td:hover {
    color: black(53, 144, 218);
}

.logo {
    width: 30%;
}

.logo span {
    font-size: 2em;
    font-family: 华文楷体;
    color: rgb(240, 240, 240);
}

.logo-img {
    float: right;
}

.logo-img img {
    height: 120px;
    /* padding-left: 260px; */
    margin-top: 5px;
}

.logo-title {
    padding-top: 25px;
    float: right;
}

.title {
    height: 80px;
}

.serch {
    width: 20%；
}

.am-input-group {
    width: 70%;
}

/* end导航窗 */

.info {
    background: rgb(34, 132, 150);
}

.inf-table {
    width: 900px;
    margin: 0 auto;
    height: 100px;
}

.inf-table th {
    width: 33.33%;
    text-align: center;
    color: white;
    font-size: 2em;
}

.logo_logo img {
    height: 100px;
}

.logo_logo img:last-child {
    height: 80px;
}

.title {
    font-size: 1.6em;
    font-family: 华文楷体;
}

.shopCart {
    padding-left: 50px;
}

.shopCart-span {
    font-size: 0.8em;
    font-weight: lighter;
}

.detail {
    width: 1200px;
    margin: 30px auto 0;
}

.foot {
    width: 100%;
    height: 200px;
    background: black;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin-top: -6px;
}

.am-list li {
    height: 47px;
    line-height: 47px;
}

.desc {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.goods-nav {
    list-style: none;
}

.goods-nav li {
    float: left;
    display: block;
    width: 200px;
    /* height: 40px; */
    line-height: 40px;
    text-align: center;
    font-size: 2em;
    padding-bottom: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.goods-nav li:first-child {
    color: green;
    border-bottom: 2px solid green;
}

.goods-nav li:hover {
    color: green;
    border-bottom: 2px solid green;
    /* transition: border-bottom 0.5s; */
}

.goods-info div {
    margin-left: 20px;
    width: 100%;
    /* background: rgb(180, 180, 180) */
}

.desc-img img {
    margin-left: 20px;
    width: 97%;
}

.desc-img p {
    margin-left: 2px;
}

.desc-p {
    /* width: 103%; */
    margin: 0;
    background: green;
    color: white
}

.desc-p span {
    margin-left: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.goods-detail-li {
    margin-left: 20px;
    background: rgb(180, 180, 180);
}

.goods-detail {
    margin-top: 30px;
    margin-left: 20px;
}

.detail-left {
    margin-left: 20px;
    float: left;
}

.detail-left img {
    width: 100%;
}

.detail-left h1 {
    margin: 0;
    color: green;
}

.detail-right {
    float: left;
}

.detail-right img {
    width: 49%;
}

.detail-right h1 {
    margin: 0;
    color: green;
}

.editor {
    float: right;
}

.foot p {
    margin: 0;
    padding: 0;
}

.foot p:first-child {
    padding-top: 50px;
}

.foot p:last-child {
    padding-top: 20px;
}