* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a {
    color: black;
}

a::before {
    color: black;
}

a::after {
    color: black;
}

/* 导航栏 */

.nav-table {
    width: 100%;
    height: 120px;
}

.head {
    /* position: fixed; */
    height: 100px;
    z-index: 9999;
}

.nav {
    height: 100px;
    background: none;
}

.nav-table td {
    font-family: 微软雅黑;
    cursor: pointer;
    text-align: center;
}

.nav-table td:hover {
    color: black(53, 144, 218);
}

.logo {
    width: 30%;
}

.logo span {
    font-size: 2em;
    font-family: 华文楷体;
    color: rgb(240, 240, 240);
}

.logo-img {
    float: right;
}

.logo-img img {
    height: 120px;
    /* padding-left: 260px; */
    margin-top: 5px;
}

.logo-title {
    padding-top: 25px;
    float: right;
}

.title {
    height: 80px;
}

.serch {
    width: 20%；
}

.am-input-group {
    width: 70%;
}

/* 评论区CSS */

.remark {
    width: 1200px;
    margin: 0 auto;
}

.remark-table {
    width: 100%;
    background: lightblue;
    margin-bottom: 10px;
}

.remark-desc {
    width: 50%;
}

.remark-date {
    width: 150px;
    height: 150px;
    background: lawngreen;
}

.remark-date h1,
h2,
p {
    text-align: center;
    margin: 0;
}

.remark-date h1 {
    font-size: 3em;
}

.remark-article p {
    margin: 0;
    margin-left: 5px;
    text-align: initial;
}

.remark-auther {
    /* position: absolute; */
}

.remark-img {
    width: 50%;
    height: 200px;
}

.remark-img img {
    height: 100%;
}

.remark-img img:hover {
    transform: scale(1.4);
    transition: all 0.6s;
}